.top-banner {
  /* border: 2px solid red; */
  color: var(--text_light);
  font-size: 1.2rem;
}

.heading {
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 20px;
}

form input {
  border-bottom: 1px solid;
  font-size: 1.2em;
  padding: 7px;
  margin-bottom: 15px;
  max-width: 100%;
}

form input::placeholder {
  color: currentColor;
}

form button {
  background-color: var(--red);
  display: block;
  width: 100%;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  border-radius: 5px;
}

form span.msg {
  display: block;
  visibility: hidden;
  font-size: 1em;
  margin: 5px 0px 10px;
}

@media only screen and (min-width: 700px) {
  .top-banner {
    /* border: 2px solid red; */
    font-size: 1rem;
  }

  .heading {
    margin-bottom: 10px;
  }

  form input {
    font-size: 1em;
  }

  form button {
    display: inline-block;
    width: auto;
    font-size: 0.6em;
    padding: 10px;
    border-radius: 3px;
    margin-left: 10px;
    transition: background-color 0.15s ease-in-out;
  }

  form button:hover {
    background-color: var(--darkred);
  }

  form span.msg {
    font-size: 0.8em;
  }
}
